*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/ArbolGenericoT1/nbproject/private/
/ArbolGenericoT2/nbproject/private/
/Indice/nbproject/private/
/Indice/build/
/IndicePalabras/nbproject/private/
/TArbolTrieT1/nbproject/private/
/TArbolTrieT1/dist/
/TArbolTrieT1/build/
/TArbolTrieT2/nbproject/private/
/TArbolTrieT2/dist/
/TArbolTrieT2/build/
/ArbolGenericoT1/build/
/TArbolTrieT3/nbproject/private/
/TArbolTrieT3 - copia/nbproject/private/
/2/nbproject/private/